Import pandas

Load a csv file from: https://data.cityofchicago.org/api/views/xzkq-xp2w/rows.csv?accessType=DOWNLOAD

List the data type for all columns

Rename all colums such that:
1. all names are in lowercase
2. all spaces are replaces with underscores
3. any whitespace in the front or back is removed so: 

Example:
" Column Name " --> "column_name"

For all the float64 columns find the mean, min, max

Find the number of unique observations per column.

Find the unique typical hours

Create an histogram of the annual salary.

Filter the DataFrame on the department WATER MGMNT

Operators: instead of 'and', 'or' pandas uses & for and,  | for or.
List the salaries of seargants of the police department, order them from high to low income.

Sort departments based on descending order.

Transfer the columns "Full or Part-Time" and "Salary or Hourly" to binary 0 and 1 values.